@import "globals";

.card{
  background-color: #ffffff !important;
}

.card#profileimage{

  .card-content{
    
    
    .image-wrapper{
      position: relative;
      display: flex;
      justify-content: center;
      width: 200px;
      height: 200px;
      margin: auto;
      border-radius: 50%;
      overflow: hidden;

      img{
        height: 100% !important;
        max-height: 300px;
      }
    }

    .profile-cred{
      margin-top: 20px;

      .profile-title{
        display: block;
        font-size: 20pt;
        color: $dark;
        text-align: center;
      }

    }

  }
}


.card#profileinfo{

  span.subheader{
    display: block;
    padding-bottom: 5px;
    color: rgba(0,0,0,0.4);
  }

  .social-icons{

    a.icon-wrapper{
      padding: 5px 10px;
      color: #666666;
      font-size: 20pt;

      &:hover{
        color: $greenLight !important;
      }

      span.icon{

      }
    }
  }
}


.card#profilecontent{

  .row{
    margin-bottom: 0 !important;
  }
}

.location{
  color: rgba(0,0,0,0.5);

  i.material-icons{
    color: inherit;
    margin-right: 5px;
  }

  span.ville{
    font-weight: bold;
    color: inherit;
  }
}

span.card-title{
  margin: 0 !important;
}

.pad-10{
  padding: 10px !important;
}


.rating{
  display: flex;
  margin: 10px 0;

  .icon{
    margin: 0 0 10px 0;
    display: flex;

    &.danger{
      color: $danger;
    }

    &.success{
      color: $success;
    }

    i.material-icons{
      padding: 0 2px;
      color: inherit;
      cursor: pointer;

      &:hover{
        opacity: .8;
      }
    }

    span{
      color: inherit;
      margin: 0 5px;
      font-weight: bold;
    }
  }
}


a.modernize{
  width: 100%;
  margin: 0 5px;

  i.material-icons{
    margin-right: 5px;
  }
}



.tabs{
  margin-top: 20px;
  background: transparent!important;
  box-shadow: none !important;
  border: none !important;
}